*{
    padding: 0%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    background-color: #1f1f1f;

}
.elem{
    height: 120vh;
    width: 100%;
    background-color: #1f1f1f;

}



nav{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 45px;

    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22pt;

}
nav ul li a:hover{
    color: #3498DB;
    transition: .4s;
}
.content{
    position: absolute;
    left: 15%;
    top: 55%;
    color: white;
}
h3{
    font-size: 20pt;

}
p{
    font-size: 20pt;
    text-align: left;
}
h3 span{
    color: #3498DB;
    font-size: 45pt;
    margin-top: 0.5cm;
    font-family: 'Libre Baskerville', serif;
    
}


.picture{
    position: absolute;
    top: 35%;
    left: 55%;
    width: 450px;
    height: 450px;
}
.about{
    display:flex;
    align-items: top;
    justify-content: left;
    padding-top: 2%;
    padding-left: 15%;
    

}

.about img{
    border-radius: 10px;
}
.text{
    padding-left:3% ;
    color:white;
    text-decoration: none;
    text-align: left;
    

}
.text h4{
    font-size: 22pt;
}
.text p{
    font-size:17pt;
    width:850px;
}
h1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 35pt;

}
.pics{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
}
.pics img{
    height: 250px;
    width: 250px;
}
h5{
    color:white;
    text-align: center;
    padding-top: 2cm;
    font-size: 15pt;

}
.skils p{
    color: white;
    font-size: 20pt;
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    text-decoration: none;
    
}
.con p{
    color: white;
    font-size: 20pt;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    text-decoration: none;
}
